[database_config]
endpoint = cm0tNmdqaXA0c3NkMjA0cDA4MGxjby5teXNxbC5hcC1zb3V0aC0xLnJkcy5hbGl5dW5jcy5jb20=
username = cm9vdA==
password = SGVsbG8xMjMq

[oss_config]
accessid = TFRBSU1sTFZMcHFUYUM5eQ==
accesskey = M1g3eEJnRjgzRmJGbllLamRpbldtOU9qcUFDM2dr
endpoint = b3NzLWFwLXNvdXRoLTEuYWxpeXVuY3MuY29t
bucketname = YnVja2V0MzU1

[enc_config]
paraphrase = YXNkZg==
